################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WinService/v15
/Caller
/TcpServer/bin/Debug
/TcpServer/obj/Debug
/WinService/bin/Debug
/WinService/obj/Debug
